<footer>
    <div class="container style="text-align: center; bottom: 0; position: fixed; width: 100%;"">
      <div class="row">
        <div class="col-md-6">
          <span class="copyright">
            Copyright &copy; WebConference 2021
          </span>
        </div>
        <div class="col-md-6">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </footer>    